@import "tailwindcss";



/* Add this in your index.css */
.border-gradient {
   position: relative;
   z-index: 1;
   background: #1c1f2b;
   border-radius: 10px;
   padding: 2em;
   text-align: center;
   width: 300px;
   margin: 0 auto;
}

.border-gradient::before {
   content: '';
   position: absolute;
   inset: 0;
   z-index: -1;
   border-radius: 10px;
   background: conic-gradient(from 0deg,
         #ff4545,
         #00ff99,
         #006aff,
         #ff0095,
         #ff4545);
   padding: 3px;
   mask-composite: exclude;
   -webkit-mask-composite: destination-out;
   animation: spinGradient 3s linear infinite;
}

.border-gradient::after {
   content: '';
   position: absolute;
   inset: 0;
   z-index: -2;
   border-radius: 10px;
   filter: blur(1.5rem);
   background: conic-gradient(from 0deg,
         #ff4545,
         #00ff99,
         #006aff,
         #ff0095,
         #ff4545);
   opacity: 0.5;
   animation: spinGradient 3s linear infinite;
}

@keyframes spinGradient {
   from {
      transform: rotate(0deg);
   }

   to {
      transform: rotate(360deg);
   }
}